<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>Title</title>
</head>
<body>
<table><td><tr>
    <td><a class="menu" href="{% url 'home' %}">Сгенерировать пароль</a></td>
    <td><a class="menu" href="{% url 'info' %}">Информация об авторе</a></td></tr></td></table>
<div class="container info">
<h1>Информация о приложении</h1>
<div action="{% url 'info' %}">
    <h2> Данная работа выполнена студентом группы Python112 Глубоковым Николаем Николаевичем</h2>
    <ul>
        <li>Город: Ростов-на-Дону</li>
        <li>Дата рождения: 07.12.1993</li>
        <li>Программа обучения в ТОР-academy: Разработка web-приложений на Python</li>
        <li>Место работы: ФГБОУ ВО РГУПС</li>
        <li>Будущее место работы: неизвестно, но вера огромная и надежда на успех</li>
    </ul>
    <h2> Данное приложение предназначено для формирования пароля вместо пользователя.</h2>
    <div class="form"> <p><select name="length">
        {% for i in lst %}
        {% if i == 12 %}
    <option value="{{ i }}" selected>{{ i }}</option>
        {% else %}
        <option value="{{ i }}">{{ i }}</option>
        {% endif %}
         {% endfor %}
<!--    <option value="2">Значение 2</option>-->
<!--    <option value="3">Значение 3</option>-->

    </select> Количество символов</p>
    <p> <i>При нажатии на стрелку данный пункт поможет выбрать необходимую длину пароля. Ваш пароль
         будет состоять из того числа символов, которое вы указали из выпавшего меню. 
         Все символы будут выбираться компьютером случайным образом. 
        При выборе пароля формируется базовый набор символов, который состоит из 
        латинских букв малого регистра. Все символы соответствуют кодировке таблицы ASCII</i></p></div>
        <img src="https://image2.slideserve.com/4837350/ascii-l.jpg">
    <div class="form"><p><input type="checkbox" name="uppercase"> Верхний регистр</p>
    <p> <i>При установлении галочки в данном пункте в базовый набор символов добавляются латинские буквы Верхнего регистра.</i></p></div>
    <div class="form"><p><input type="checkbox" name="numbers"> Цифры</p>
    <p> <i>При установлении галочки в данном пункте генератора паролей генератор случайных символов добавит
        цифры в базовый каталог</i></p></div>
    <div class="form"><p><input type="checkbox" name="special"> Спецсимволы</p>
    <p> <i>При установлении галочки в данном пункте генератора паролей генератор случайных символов добавит
        специальные символы из стандартной таблицы ASCII с №33 по №47 </i></p></div>
    <div class="form"><input type="submit" value="Сгенерировать пароль">
    <p> <i>При нажатии на данную кнопку Вы будете перенаправлены на страницу, отображающую Ваш пароль исходя из Вашего выбора</i></p></div>


  
</div>
    </div>
</body>
</html>