<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block title %}
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title> Про Flask </title>
    {% endif %}

    {% endblock %}
</head>
<body>

{% block content %}


{% block mainmenu %}
<ul class="menu">
    {%for i in menu %}
    <li><a href="{{i.url}}">{{i.name}}</a></li>
    {% endfor %}</ul>
{% endblock mainmenu %}
{% if psmenu %}
{% block psmenu %}
<ul class="menu">
    {%for i in psmenu %}
    <li><a href="{{i.url}}">{{i.name}}</a></li>
    {% endfor %}</ul>
{% endblock psmenu %}
{% endif %}

<div class="content">
{% block autocontent %}
{% endblock autocontent %}
{% endblock content %}
 </div>
</body>
</html>