{% extends 'base.html' %}

{% block content%}
{{ super() }}
<h1 class="menu"> Добро пожаловать в наш автосалон японских спортивных автомобилей!</h1>
<a class="menu"> Здесь вы поможем Вам подобрать Ваш первый недорогой спортивный автомобиль
<br>
Ознакомьтесь, пожалуйста, с основными автопроизводителями Японии и самыми популярными заказами у нашей организации</a>
<div class="auto">
    {% for i in cars %}
<div class="auto card">
 <div>
     <a href="{{i.url}}">

     <img src="{{i.img_logo}}"></a>
</div>

    </div>

    {% endfor %}
{% endblock content %}