{% extends 'base.html' %}
{% block content %}
{{ super() }}
<h1 class="menu"> Наши партнеры!</h1>
</br>
<article><a href="https://rostov.top-academy.ru/contacts">Уже на протяжении нескольких лет мы сотрудничаем с "TOP-Academy" по части веб-разработки и робототехники.
Благодаря выпускникам "TOP-Academy" наши клиенты имеют возможность дополнительного улучшения автомобиля в части электронных компонентов
    салона, а так же разработаны множество сайтов и ПО для различных сфер услуг от медицины до автомобилестроения. </a> </article>




{% endblock content %}