body{
    background: lightyellow;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
    background: orange;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 0;
}
.content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}
.flash{
    padding: 10px;
}
.flash.success{
    border: 1px solid #21DB56;
    background: #AEFFC5;
}
.flash.error{
    border: 1px solid #FF4343;
    background: #FF9C9C;
}

.menu a{
    font-weight: bold;
    text-decoration: none;
    color: brown;
}

ul{
    list-style: none;
    padding: 0;
}
p>a{
    text-decoration: none;
    color: brown;
}
li>p, li div{
    border: 1px solid #CCC;
    padding: 10px 20px;
}

p.title{
    margin: 0;
    font-weight: bold;
    background: gold;
}
p.title a{
    display: block;
}
p.title:hover{
    background: orange;
}
.annonce{
    margin-top: -1px;
    margin-bottom: 40px;
    background: #FFF;
}
.auto{
display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 200px;
    text-align: center;
    padding: 10px;
    margin: 10px;

}
.auto.card
{
            display: flex;
            border: 1px solid black;
            margin: 20px;
            flex-direction: column;
            flex-wrap: wrap;
            padding: 0px;
            border-radius: 1em;
            overflow: hidden;
            border-collapse: collapse;
            font-family: Georgia, 'Times New Roman', Times, serif;
            box-shadow: 0 0 5px;

}

